users/titanknis/dotfiles/.config/qutebrowser/autoconfig.yml
users/titanknis/dotfiles/.config/qutebrowser/quickmarks
users/titanknis/dotfiles/.config/qutebrowser/bookmarks/
users/titanknis/dotfiles/.config/qutebrowser/qsettings/
