@define-color bg0      #282828;
@define-color bg1      #3c3836;
@define-color bg2      #504945;
@define-color bg3      #665c54;
@define-color bg4      #665c54;
@define-color fg0      #fbf1c7;
@define-color fg1      #ebdbb2;
@define-color fg2      #d5c4a1;
@define-color fg3      #bdae93;
@define-color fg4      #a89984;
@define-color red      #fb4934;
@define-color green    #b8bb26;
@define-color yellow   #fabd2f;
@define-color blue     #83a598;
@define-color magenta  #d3869b;
@define-color aqua     #8ec07c;
@define-color orange   #fe8019;
@define-color gray     #928374;
@define-color accent   @yellow;
@define-color urgent   @red;

* {
  min-height: 0;
  font-family: "JetBrains Mono Nerd Font";
  font-weight: 500;
  font-size: 13px;
  padding: 0;
  color: @fg1;
}

window#waybar {
  background: transparent;
  /* background-color: @bg0; */
  /* border: 1px solid @gray; */
  /* border-radius: 4px; */
}

tooltip {
  background-color: @bg1;
  border: 1px solid @gray;
  border-radius: 4px;
}

.modules-center {
  background: @bg0;
  padding: 6px 12px;
  border-radius: 28px;
  border: 1px solid @gray;
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); */
}

tooltip label {
  margin: 8px;
  color: @fg1;
}

#battery,
#wireplumber,
#tray,
#network,
#clock {
  background-color: @bg1;
  /* border: 1px solid @gray; */
  padding: 0 10px;
  border-radius: 10px;
  margin: 0 5px;
}

#language,
#network.disconnected,
#wireplumber.muted {
  min-width: 0px;
}

#battery.warning {
  color: @yellow;
}

#battery.critical,
#battery.urgent,
#cpu.critical,
#memory.critical,
#temperature.critical {
  color: @urgent;
  border-color: @urgent;
}

#battery.charging {
  /* border: 1px solid @green; */
  color: @green;
}

/* #privacy { */
/*   color: @accent; */
/* } */

#workspaces {
  background-color: @bg1;
  /* border: 1px solid @gray; */
  border-radius: 10px;
  margin: 0 5px;
}

#workspaces button {
  color: @fg1;
}

#workspaces button:hover {
  /* background: @bg2; */
  /* color: @fg1; */
}

#workspaces button.active {
  /* color: @accent; */
  background: @green;
  /* border-bottom: 1px solid @accent; */
  /* border-radius: 0px; */
}

#workspaces button.urgent {
  /* color: @urgent; */
  background: @urgent;
}
